In [1]:
from concurrent.futures import ThreadPoolExecutor
from pathlib import Path

import geopandas as gpd
from tqdm import tqdm

from get_stack import get_stack

ModuleNotFoundError: No module named 'pystac_client'

In [7]:
server_root = "//digs110/FER"
# evoland
evoland = Path(
    server_root
    + "/EvoLand/WP2_6_CFM/Referenzdaten/Database/PointMultitemp/evoland_ref_points_mt.shp"
)
evoland_multitemp = gpd.read_file(evoland).drop_duplicates("id")

In [ ]:
# Create an iterable of rows (or use samples.iterrows() if needed)
sample_list = [sample for _, sample in evoland_multitemp.iterrows()]

with ThreadPoolExecutor(max_workers=4) as executor:
    results = list(tqdm(executor.map(get_stack, sample_list), total=len(sample_list)))

,id,poly_id,batch,tile,site,id_str,flag,state,datetime,oid,...,comment2,comment3,obs_qual,fty,month,dslf,dtnf,obsQualSt1,TCW,geometry
0,0,0.0,1,30SUF,Spain,0000,NaN,None,20190104T111106,0@20190104T111106,...,None,None,254.0,None,1,0,NaN,254.0,380.0,POINT (-4.12212 36.74179)
280,1,1.0,1,30SUF,Spain,0001,NaN,None,20190104T111106,1@20190104T111106,...,None,kein Change erkennbar,254.0,None,1,0,NaN,254.0,661.0,POINT (-4.12161 36.74231)
560,2,2.0,1,30SUF,Spain,0002,NaN,None,20190104T111106,2@20190104T111106,...,None,kein Change erkennbar,254.0,None,1,0,5.0,254.0,540.0,POINT (-4.1192 36.74203)
840,3,3.0,1,30SUF,Spain,0003,NaN,None,20190104T111106,3@20190104T111106,...,None,unsicher,254.0,None,1,0,5.0,254.0,1233.0,POINT (-4.12845 36.75831)
1120,4,5.0,1,30SUF,Spain,0004,NaN,None,20190104T111106,4@20190104T111106,...,None,starke Durchforstung,254.0,None,1,0,5.0,254.0,1239.0,POINT (-4.12816 36.75908)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182173,1263,421.0,3,33UVS,Germany,1263,NaN,gesund,20150704T101337,1263@20150704T101337,...,None,None,98.0,evergreen,7,0,1715.0,NaN,-336.0,POINT (14.08833 50.99596)
182284,1264,420.0,3,33UVS,Germany,1264,NaN,gesund,20150704T101337,1264@20150704T101337,...,None,None,103.0,evergreen,7,0,1520.0,NaN,-363.0,POINT (14.10273 51.0011)
182385,1265,NaN,3,33UVS,Germany,1265,NaN,gesund,20150704T101337,1265@20150704T101337,...,None,None,102.0,evergreen,7,0,1520.0,NaN,-375.0,POINT (14.11205 51.00166)
182484,1266,419.0,3,33UVS,Germany,1266,NaN,gesund,20150704T101337,1266@20150704T101337,...,None,None,104.0,evergreen,7,0,1540.0,NaN,-342.0,POINT (14.10425 51.00364)
182583,1267,440.0,3,33UVS,Germany,1267,NaN,gesund,20150704T101337,1267@20150704T101337,...,None,None,253.0,evergreen,7,0,1845.0,NaN,-327.0,POINT (14.11987 51.02323)